body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

    font-family: Tahoma sans-serif;
    font-size: 32px;
    font-weight: 600;
    list-style: none;
    text-transform: uppercase;
    margin: 0 auto;

}
body ul li {
    list-style: none;
}

p {
    border: 3px solid black;
    border-radius: 20px;
    background: rgb(250,35,35);
    background: linear-gradient(0deg, rgba(250,35,35,1) 0%, rgba(244,152,122,1) 51%, rgba(250,35,35,1) 100%);
    padding: 5px 15px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    user-select: none;
}

p:hover {
    background: rgb(250,244,35);
    background: linear-gradient(0deg, rgba(250,244,35,1) 0%, rgba(247,252,121,1) 41%, rgba(250,244,35,1) 100%);
}

section {
    margin-top: 200px;
    border-radius: 20px;
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right:  3px solid black;;
    background: rgb(238,250,35);
    background: linear-gradient(0deg, rgba(238,250,35,1) 0%, rgba(244,244,122,1) 51%, rgba(249,255,150,1) 100%);
    height: 190px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}